# Data Types and Structures Questions

1. What are data structures, and why are they important?
- Answer
 - Data Structures are the way of organizing and storing data in structured manner so that it can be accessed and utilized efficiently.
 - Some of the types of data structures are Array , Stack ,Queue, Linked List , Graphs etc.
 -They are important for :
   1. Better organization of data to perform tasks like searching ,sorting etc.
   2. Provide proper memory management to reduce wastage of memory space.
   3. Solving problem efficiently.
   4. Real World Application for example search engine uses graphs for finding relations, etc.

2. Explain the difference between mutable and immutable data types with examples.
- Answer
  - Immutable Data type -> These are data types that cannot get changed once they are created. Their values remain constant throughout their lifetime. It is suitable for data that should remain constant.
   - Example : Integer , string , tuples , float , boolean.
  - Mutable Data type -> These are data types that can be changed after they are created. Their values can be changed. It is suitable for data that need to be updated.
   - Example : Dictionaries , list , sets.

3.  What are the main differences between lists and tuples in Python?
- Answer
 - Lists :
   1. They are Mutable data types as they can be changed after they are created.
   2. You can add, remove or modify the content.
   3. Lists are defined using square brackets [ ]
   4. It comsumes more memory than tuples.
   5. Lists are slightly slower than tuples.
 - Tuples :
   1. Tuples are Immutable data types as they cannot get chnaged once created.
   2. You cannot add. remove or modify the content.
   3. Tuples are defined using parentheses (  )
   4. It consume less memory than lists.
   5. Tuples are slighly faster than Lists.

4.  Describe how dictionaries store data.
- Answer
 - Dictionaries in python are a type of mutable data structure that store data in key-value pairs. A dictionary is made up of pair . Each pair has a key and a value.
 - The key is like a lable . it is how you find the required information.
 - The value is the actual information associated with key.
 - Each key in a dictionary must be unique but multiple key can have same value.
 - Example :     
   - Key : "name", Value: "Atul"
   - Key : "age ", Value: 22
 - They basically provide quick and easy way to store and retrieve information using labels.

5. Why might you use a set instead of a list in Python?
- Answer
 - Sets are used when you need to store unique elements and you don't need to care about the proper order.
 - Sets automatically delete the dupilcate entries while list allow duplication.
 -Sets have fast processing as compaired to lists.

6. What is a string in Python, and how is it different from a list?
- Answer
 - A string is a sequence of characters like words or sentences.
 - In python we can create a string by enclosing characters in single quotes,
 or double quotes.
 - Example : "Hello World".

 - A string mainly used to store text whereas in list we can store any type of data such as numbers or alphabets etc.
 - A string is immutable that means they cannot be changed after creation where as list is mutable that means they can be changed after creation.

7.  How do tuples ensure data integrity in Python ?
- Answer
 - Tuples are immutable, meaning once you create a tuple, you can't change the items inside it. This ensures the data remains safe and unchanged. In this way tuples ensures data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
- Answer
 - A hash table is a data structure that allows fast retrival of data.
 - Like dictionaries it also store data in key-value pairs. In this the key is used to find the required value.
 - In Python, dictionaries are implemented using hash tables.
 - When you provide a key to a dictionary, the key is hashed to locate the corresponding value efficiently.

9. Can lists contain different data types in Python?
- Answer
 - Yes, lists in Python can contain elements of different data types. For example, a list can contain integers, strings, floats, or even other lists.

10. Explain why strings are immutable in Python?
- Answer
 - Strings are immutable because it helps the performance and memory management. Once a string is created, it can't be changed, which avoids accidental changes to data and makes it more efficient.

11. What advantages do dictionaries offer over lists for certain tasks?
- Answer
 - Advantages of dictionary over lists
  1. Key-value pairs, Dictionaries store data in pairs (key, value).
  2. In a dictionary, you can easily find a value using a key, which is much faster than searching through a list.
  3. Avoid duplication

12. Describe a scenario where using a tuple would be preferable over a list.
- Answer
 - Tuples are good when you want to store data that should not change or fixed. Moreover tuples are immutable and they provide security and integrity.

13. How do sets handle duplicate values in Python?
- Answer
 - Sets automatically remove duplicate values. If you try to add a duplicate element to a set, it will simply ignore it.

14. How does the “in” keyword work differently for lists and dictionaries?
- Answer
 - For lists, the in keyword checks if an element is present in the list.
 - For dictionaries, the in keyword checks if a key exists in the dictionary, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.
- Answer
 - No , we cannot modify the elements of a tuple once it is created. This is because tuples are immutable in Python.

16. What is a nested dictionary, and give an example of its use case?
- Answer
 - A nested dictionary is a dictionary where the values themselves are dictionaries.
 - Use case: A nested dictionary could represent user profiles, where each user has multiple attributes (like name, age, address) stored in an inner dictionary.

17. Describe the time complexity of accessing elements in a dictionary?
- Answer
 - Accessing an element in a dictionary is very fast, with a time complexity of O(1), which means it takes constant time, regardless of how many items are in the dictionary.

18. In what situations are lists preferred over dictionaries?
- Answer
 - Lists are preferred when you need an ordered collection of elements that can be accessed by index.
 - Lists are also useful when the order of insertion is important.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Answer
 - Dictionaries are considered unordered because the keys are stored in a hash table, and the order of the keys is not guaranteed.
 -However, since you access values by their key, this doesn't affect how you retrieve data.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Answer
 - In a list, you retrieve elements by their index (position), where indexing starts from 0
 - In a dictionary, you retrieve elements by their key, not an index.

.

# Practical Questions.

In [2]:
# 1. Write a code to create a string with your name and print it.
name = "Atul Aggarwal"
print(name)

Atul Aggarwal

In [3]:
# 2. Write a code to find the length of the string "Hello World".

str="Hello World"
print(len(str))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
str="Python Programming"
print(str[0:3])

Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.
str="hello"
print(str.upper())

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
str="I like apple"
print(str.replace("apple","orange"))

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
l=[1,2,3,4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
l=[1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [14]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
l=['a','b','c','d']
print(l[1])

b

In [15]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
l=[10,20,30,40,50]
print(l[::-1])

[50, 40, 30, 20, 10]

In [16]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100,200,300)
print(t)

(100, 200, 300)

In [17]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t=('red', 'green', 'blue', 'yellow')
print(t[1:])

('green', 'blue', 'yellow')

In [18]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10, 20, 5, 15)
print(min(t))

5

In [19]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [22]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t=("apple","orange","kiwi")
print("kiwi"in t)

True

In [23]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(set)

{'b', 'a', 'c'}

In [26]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [27]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [30]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [32]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
print(s1.intersection(s2))

{2, 3}

In [36]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={
    "name" : "Atul",
    "age" : 22,
    "city" : "Delhi"
}
print(dict)

{'name': 'Atul', 'age': 22, 'city': 'Delhi'}

In [2]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={'name':'John','age':25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [3]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={'name':'Alice','age':30}
print(dict["name"])

Alice

In [4]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [5]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={'name': 'Alice', 'city': 'Paris'}
print("city"in dict)

True

In [7]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l=[1,2,3,4]
t=(1,2,3,4)
dict={
    "name":"Atul",
    "age":22
}

print(l)
print(t)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Atul', 'age': 22}

In [10]:
# 27.   Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
l=[33,59,12,20,44]
l.sort()
print(l)

[12, 20, 33, 44, 59]

In [13]:
# 28. Write a code to create a list with strings and print the element at the third index.
l=["I","Am","Living","in","India"]
print(l[3])

in

In [14]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1={
    "name":"ATUL",
    "age":22
}
dict2={
    "city":"delhi"
}
dict1.update(dict2)
print(dict1)

{'name': 'ATUL', 'age': 22, 'city': 'delhi'}

In [15]:
# 30. Write a code to convert a list of strings into a set.
l=["apple","banana","mango","orange"]
s=set(l)
print(s)

{'mango', 'banana', 'apple', 'orange'}